<link rel="stylesheet" href="/view/css/styleAll.css">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  
  <section id="supermenu">
    <div>
      <div class="menu-btn" id="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <nav class="side-menu" id="side-menu">
        <ul class="menu">
          <li><a href="#sobre">Sobre Nós</a></li>
          <li><a href="#add">Adote um Pet</a></li>
          <li><a href="#local">Onde Nos Econtrar</a></li>
          <li><a href="#contato">Entrar em Contato</a></li>
          <li><a href="#ajuda">Preciso de Ajuda</a></li>
        </ul>
      </nav>
    </div>
            <!--menu da barra-->
  
    <nav>
      <ul class="barraMenu">
        <li><a href="#add">Adotar um Pet</a></li>
        <li><a href="#ajuda">Ajude</a></li>
        <li><a href="#sobre">Sobre Nós</a></li>
      </ul>
    </nav>
  </section>

  <div id="body">
    <h1 id="title">ESCOLHA UM PER PARA ADOTAR</h1>

    <div id="slide">
      <div id="carousel" class="carousel">
        <div id='item_1' class="hideLeft">
          <img src="/images/adoption1.jpg">
        </div>
          
        <div id='item_2' class="prevLeftSecond">
          <img src="/images/adoption2.jpeg">
        </div>
          
        <div id='item_3' class="prev">
          <img src="/images/adoption3.jpg">
        </div>
          
        <div id='item_4' class="selected">
          <img src="/images/adoption4.jpg">
        </div>
          
        <div id='item_5' class="next">
          <img src="/images/adoption5.jpg">
        </div>

        <div id='item_6' class="nextRightSecond">
          <img src="/images/adoption6.jpg">
        </div>
        
          
      </div>
      
      <div class="buttons">
        <button class="button-82-pushable" role="button" id="prev"><span class="button-82-shadow"></span><span class="button-82-edge"></span><span class="button-82-front text">&lt;</span></button>
        <button class="button-82-pushable" role="button" id="next"><span class="button-82-shadow"></span><span class="button-82-edge"></span><span class="button-82-front text">&gt;</span></button>
      </div>
    </div>
    <h2 id="adoptionGrade">Encontrar um Pet Perdido</h2>


    <div id="containLost">
      <ul>
        <li><a href=""><img src="/images/pt1.png" alt=""></a><p>Max - Perdido na Rua da Amizade, no bairro do Sol Nascente.: </p></li>
        <li><a href=""><img src="/images/pt2.png" alt=""></a><p>Luna - Desapareceu em frente à Praça das Flores, no bairro Jardim Primavera. </p></li>
        <li><a href=""><img src="/images/pt3.png" alt=""></a><p>Rocky - Sumiu na Avenida do Bosque, próximo à Rua dos Pássaros, no bairro Floresta Verde. </p></li>
        <li><a href=""><img src="/images/pt4.png" alt=""></a><p>Bella - Foi vista pela última vez perto da Rua da Esperança, no bairro do Vale Encantado.</p></li>
        <li><a href=""><img src="/images/pt5.png" alt=""></a><p>Charlie - Desapareceu na Rua dos Sonhos, no bairro da Cidade dos Sonhos. </p></li>
        <li><a href=""><img src="/images/pt6.png" alt=""></a><p>Daisy - Perdida próximo à Praça das Estrelas, no bairro Estrela Cadente.</p></li>
        <li><a href=""><img src="/images/pt7.png" alt=""></a><p>Milo - Sumiu na Avenida do Lago, no bairro à Beira do Lago.</p></li>
        <li><a href=""><img src="/images/pt8.png" alt=""></a><p>Bella - Foi vista pela última vez na Rua das Maravilhas, no bairro Encanto Feliz. </p></li>
        <li><a href=""><img src="/images/pt9.png" alt=""></a><p>Duke - Desapareceu perto do Parque dos Cachorros, no bairro Canil Central. </p></li>
        <li><a href=""><img src="/images/pt10.png" alt=""></a><p>Ruby - Perdida na Avenida das Rosas, próximo à Rua do Amor, no bairro Jardim Romântico.</p></li>
        <li><a href=""><img src="/images/pt11.png" alt=""></a><p>Teddy - Sumiu na Rua da Alegria, no bairro da Felicidade.</p></li>
        <li><a href=""><img src="/images/pt12.png" alt=""></a><p>Molly - Foi vista pela última vez no Parque dos Pássaros, no bairro Pássaro Livre.</p></li>
      </ul>
      <button id="showMoreButton">Mais</button>

    </div>






  </div>

</body>
</html>