/* Reset de estilos para garantir a consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho */
header {
    border-top: 10px solid rgb(58, 58, 58);
    background-color: rgba(39, 253, 103, 0.637);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
  }
  
  /* Logo da página */
  #logo {
    width: 250px;
    height: 110px;
    border-radius: 100%;
    position: relative;
    top: 60px;
    left: 80px;
  }
  
  /* Redes sociais do cabeçalho */
  #social-icons {
    width: 254px;
    float: right;
    position: relative;
    top: 80px;
  }
  
  #social-icons p {
    font-size: 16px;
  }
  
  /* Cada ícone da div de ícones */
  .social-icon {
    width: 50px;
    margin: 0 10px;
  }

/* Estilo para a barra de navegação */
#moreBar {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

#moreBar ul {
    list-style-type: none;
}

#moreBar li {
    display: inline;
    margin-right: 20px;
}

#moreBar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilo para o formulário */
h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    #social-icons{
        display: none;
    }

}
