/* Reset de estilos padrão */
body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  /* Estilo do corpo da página */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Estilo do cabeçalho */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho */
header {
    border-top: 10px solid rgb(58, 58, 58);
    background-color: rgba(39, 253, 103, 0.637);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
  }
  
  /* Logo da página */
  #logo {
    width: 250px;
    height: 110px;
    border-radius: 100%;
    position: relative;
    top: 60px;
    left: 80px;
  }
  
  /* Redes sociais do cabeçalho */
  #social-icons {
    width: 254px;
    float: right;
    position: relative;
    top: 80px;
  }
  
  #social-icons p {
    font-size: 16px;
  }
  
  /* Cada ícone da div de ícones */
  .social-icon {
    width: 50px;
    margin: 0 10px;
  }

/* Estilo para a barra de navegação */
#moreBar {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

#moreBar ul {
    list-style-type: none;
}

#moreBar li {
    display: inline;
    margin-right: 20px;
}

#moreBar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

  /* Estilos dos títulos */
  h1 {
    font-size: 28px;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 15px;
  }
  
  /* Estilos do conteúdo principal */
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para links */
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    #social-icons{
        display: none;
    }
    
}